In [1]:
import geopandas as gpd
import os
import glob
from pyproj import Transformer

In [2]:
files = []
for file in os.listdir('result'):
    if file.endswith('.shp'):
        files.append(file)

In [3]:
def convert_shapefile_crs(input_shapefile, output_shapefile, dst_crs):
    gdf = gpd.read_file(input_shapefile)
    gdf = gdf.to_crs(dst_crs)
    gdf.to_file(output_shapefile)

In [4]:
output_directory = 'converted'
if not os.path.exists(output_directory):
    os.makedirs(output_directory)

In [15]:
transformer = Transformer.from_crs('epsg:32616', 'epsg:4326', always_xy=True)

# Example UTM coordinate in EPSG:32616
utm_x, utm_y = 705958,4612861
longitude, latitude = transformer.transform(utm_x, utm_y)

print(f"Longitude: {longitude}, Latitude: {latitude}")

Longitude: -84.52706042950825, Latitude: 41.640897328787766

In [17]:
from shapely.ops import transform
def transform_polygon(polygon):
    return transform(lambda x, y: transformer.transform(x, y), polygon)

for file in files:
    transformer = Transformer.from_crs('epsg:32616', 'epsg:4326', always_xy=True)
    data = gpd.read_file(f'result/{file}')
    data['geometry'] = data['geometry'].apply(transform_polygon)
    data.set_crs('epsg:4326', inplace=True)
    data.to_file(f'converted/{file}')

In [5]:
data = gpd.read_file('result/' + files[0])

In [11]:
data['geometry']

0         POLYGON ((323305.00000 5184775.00000, 323295.0...
1         POLYGON ((323325.00000 5184775.00000, 323305.0...
2         POLYGON ((323415.00000 5184785.00000, 323435.0...
3         POLYGON ((323445.00000 5184785.00000, 323455.0...
4         POLYGON ((323835.00000 5184775.00000, 323825.0...
                                ...
278398    POLYGON ((339475.00000 5168215.00000, 339465.0...
278399    POLYGON ((339485.00000 5168215.00000, 339475.0...
278400    POLYGON ((339495.00000 5168215.00000, 339485.0...
278401    POLYGON ((339605.00000 5168215.00000, 339585.0...
278402    POLYGON ((339605.00000 5168215.00000, 339605.0...
Name: geometry, Length: 278403, dtype: geometry

In [12]:
from shapely.ops import transform
transformer = Transformer.from_crs('epsg:32616', 'epsg:4326', always_xy=True)

def transform_polygon(polygon):
    return transform(lambda x, y: transformer.transform(x, y), polygon)

data['geometry'] = data['geometry'].apply(transform_polygon)

In [13]:
data

            Id  gridcode                                           geometry
0            1         2  POLYGON ((-89.31527 46.79310, -89.31540 46.793...
1            2         5  POLYGON ((-89.31501 46.79310, -89.31527 46.793...
2            3         2  POLYGON ((-89.31383 46.79322, -89.31357 46.793...
3            4         6  POLYGON ((-89.31344 46.79322, -89.31331 46.793...
4            5         3  POLYGON ((-89.30833 46.79324, -89.30846 46.793...
...        ...       ...                                                ...
278398  278399         5  POLYGON ((-89.09776 46.64826, -89.09789 46.648...
278399  278400         4  POLYGON ((-89.09763 46.64826, -89.09776 46.648...
278400  278401         5  POLYGON ((-89.09750 46.64826, -89.09763 46.648...
278401  278402         2  POLYGON ((-89.09606 46.64829, -89.09632 46.648...
278402  278403         3  POLYGON ((-89.09606 46.64829, -89.09607 46.648...

[278403 rows x 3 columns]

In [14]:
data.set_crs('epsg:4326', inplace=True)

            Id  gridcode                                           geometry
0            1         2  POLYGON ((-89.31527 46.79310, -89.31540 46.793...
1            2         5  POLYGON ((-89.31501 46.79310, -89.31527 46.793...
2            3         2  POLYGON ((-89.31383 46.79322, -89.31357 46.793...
3            4         6  POLYGON ((-89.31344 46.79322, -89.31331 46.793...
4            5         3  POLYGON ((-89.30833 46.79324, -89.30846 46.793...
...        ...       ...                                                ...
278398  278399         5  POLYGON ((-89.09776 46.64826, -89.09789 46.648...
278399  278400         4  POLYGON ((-89.09763 46.64826, -89.09776 46.648...
278400  278401         5  POLYGON ((-89.09750 46.64826, -89.09763 46.648...
278401  278402         2  POLYGON ((-89.09606 46.64829, -89.09632 46.648...
278402  278403         3  POLYGON ((-89.09606 46.64829, -89.09607 46.648...

[278403 rows x 3 columns]

In [16]:
data.to_file('converted/' + files[0])